body{
    background-color: #f4f4f4;
    font-family: arial,sans-serif;
}
.box{
    background-color: lightblue;
    border: 3px solid navy;
    margin-bottom: 30px;
}
.box1{
   width: 50%;
   padding: 30px;
   margin: 30px auto;
   text-align: center;

}
.box2{
    width: 50%;
    padding: 30px;
}
.box3{
    width: 50%;
    margin: 50px auto;
}
.box4{
    width: 50%;
    padding: 30px;
    margin: 50px auto;

}